#bidHistory
  span(style="font-size:22px;")
    | $
    b ${root.auction.highBid}
  &nbsp;
  &nbsp;
  button#bidButton.btn.btn-success + BID! 
  br
  br
  #chart_container
    #chart
    #timeline
    #slider
