.row(style="color:#666;opacity:0.4")
  .span12
    i.icon-play
    &nbsp;
    b bidstream
    input(placeholder="search",style="margin: 0px 0px 3px 20px;")
    .pull-right logged in

hr(style="margin: 5px -10px 20px 0px;opacity: 0.6;")